# Виртуальное окружение
venv/
.venv/
env/

# Кэш и байткод Python
__pycache__/
*.pyc
*.pyo

# Кэш pytest
.pytest_cache/

# Кэш и настройки IDE
.vscode/
.idea/

# Логи и временные файлы
*.log
.DS_Store

# Переменные окружения (если появятся секреты)
.env